<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body class="noBackground">
<p><span th:text="${session.currentUser.email}"></span></p>
<h1>ADMIN PAGE</h1>

<table class="order-table">
    <thead>
    <tr>
        <th>Ordre ID</th>
        <th>Bredde</th>
        <th>Længde</th>
        <th>Tag Type</th>
        <th>Levering adresse</th>
        <th>Bruger ID</th>
        <th>Pris</th>
        <th>Status</th>
        <th>Detaljer</th>



    </tr>
    </thead>

    <tr th:each="order : ${orderList}">
        <td th:text="${order.orderId}">order id</td>
        <td th:text="${order.width}">width</td>
        <td th:text="${order.length}">length</td>
        <td th:text="${order.roof}">roof</td>
        <td th:text="${order.shippingAddress}">shipping address</td>
        <td th:text="${order.userId}">user id</td>
        <td th:text="${order.price}">price</td>
        <td th:text="${order.status}">status</td>

        <td>
            <form class="generic-form" method="post">
                <button type="submit" name="orderId"  th:value="${order.orderId}" formaction="/details">Details</button>
                <input type="hidden" name="oldprice" th:value="${order.price}" />
            </form>
        </td>

        <!-- VI MANGLER SÆLGER DER GIVER RABAT EVT. PÅ EN ANDEN HTML SIDE -->
    </tr>
</table>


<div>
    <p th:text="${message}"></p>
</div>


<form method="post">
    <button formaction="/logout" class="linkbutton" type="submit">Log out</button>
</form>

</body>

</html>
