<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Signin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<form class="create" method="post">
    <input type="text" name="Navn" placeholder="Enter your name"/> <br>
    <input type="password" name="password1" placeholder="Skriv kodeord"/><br>
    <input type="password" name="password2" placeholder="Skriv kodeord igen"/><br>
    <input type="text" name="email" placeholder="Skriv din email"/> <br>
    <input type="text" name="Adress" placeholder="Skriv adresse"/><br>
    <input type="text" name="City" placeholder="Skriv by"/><br>

    <input type="number" name="postNr" min="1000" max="9999" placeholder="Skriv postNr"/><br>
    <input type="number" name="Phone" min="10000000" max="99999999" placeholder="Skriv tlf Nummer"/><br>


    <button type="submit" formaction="/createuser" class="linkbutton">Tilmeld</button>

    <div>
        <p th:text="${message}"></p>
    </div>

</form>
<div th:if="${session.currentUser != null}">
    <form method="post">
        <button formaction="/logout" class="linkbutton centered-button" type="submit">Log ud</button>
    </form>
</div>


</body>
</html>