<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<table class="order-table">
    <thead>
    <tr>
        <th>Ordre ID</th>
        <th>Bredde</th>
        <th>Længde</th>
        <th>Tag Type</th>
        <th>Levering adresse</th>
        <th>Bruger ID</th>
        <th>Pris</th>
        <th>Status</th>



    </tr>
    </thead>
<tbody>
    <tr>
        <td th:text="${orderDetails.orderId}">order id</td>
        <td th:text="${orderDetails.width}">width</td>
        <td th:text="${orderDetails.length}">length</td>
        <td th:text="${orderDetails.roof}">roof</td>
        <td th:text="${orderDetails.shippingAddress}">shipping address</td>
        <td th:text="${orderDetails.userId}">user id</td>
        <td th:text="${orderDetails.price}">price</td>
        <td th:text="${orderDetails.status}">status</td>
        <!-- VI MANGLER SÆLGER DER GIVER RABAT EVT. PÅ EN ANDEN HTML SIDE -->
    </tr>


</tbody>
</table>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><span th:text="orderDetails.price"></span></p>
<p>Ny pris</p>
<form class="generic-form" method="post">
    <input type="number" name="price" placeholder="New Price" min="0" required/>
    <button type="submit" name="orderId"  th:value="${orderDetails.orderId}" formaction="/updatePrice" class="linkbutton">Opdater pris</button>
    <input type="hidden" name="price" th:value="${orderDetails.price}" />
</form>
</body>
</html>