<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<form method="post">
    <button class="logo"  type="submit" formaction="/index"></button>
</form>

<div class="page">

    <form method="post">
        <button class="linkbutton centered-button" type="submit" formaction="/carportcreationpage">Bestil Special mål Carport</button>
    </form>
    <form method="get" action="https://www.johannesfog.dk/have-fritid/carporte">
        <button class="linkbutton centered-button" type="submit">Carport</button>
    </form>
    <div th:if="${session.currentUser == null}">
    <form method="post">
        <button type="submit" name="buttonValue" value="1" formaction="/login" class="linkbutton centered-button">Log ind</button>

    </form>
    </div>
    <div th:if="${session.currentUser != null}">
        <form method="post">
            <button formaction="/logout" class="linkbutton centered-button" type="submit">Log ud</button>
        </form>
    </div>
    <div th:if="${session.currentUser != null}">
        <form method="post">
            <button type="submit" name="buttonValue" formaction="/mysite" class="linkbutton centered-button">Min side</button>
        </form>
    </div>
    <div th:if="${session.currentUser == null}">
        <form method="post">
            <button type="submit" name="buttonValue" value="3" formaction="/login" class="linkbutton centered-button">Min side</button>
        </form>
    </div>

</div>


</body>
</html>