<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<p> Ordre Info</p>
<table class="order-table">
    <thead>
    <tr>
        <th>Ordre ID</th>
        <th>Bredde</th>
        <th>Længde</th>
        <th>Tag Type</th>
        <th>Levering adresse</th>
        <th>Pris</th>
        <th>Status</th>



    </tr>
    </thead>

    <tr th:each="order : ${orderUserList}">
        <td th:text="${order.orderId}">order id</td>
        <td th:text="${order.width}">width</td>
        <td th:text="${order.length}">length</td>
        <td th:text="${order.roof}">roof</td>
        <td th:text="${order.shippingAddress}">shipping address</td>
        <td th:if="${order.status == 'Afventer betaling'}" th:text="${order.price}"></td>
        <td th:unless="${order.status == 'Afventer betaling'}">N/A</td>
        <td th:text="${order.status}">status</td>



        <td>

        <td>
        <form method="post" >
            <button class ="linkbutton centered-button" th:if="${order.status == 'Afventer betaling'}" type="submit" formaction="/pay"> Betal</button>
            <input type="hidden" name="orderId" th:value="${order.orderId}"/>
        </form>

        <form method="post" >
            <button class ="linkbutton centered-button" th:if="${order.status == 'Betalt' || order.status == 'Annulleret'}" type="submit" formaction="/deleteOrder"> Slet</button>
            <input type="hidden" name="orderId" th:value="${order.orderId}"/>
        </form>
        </td>

        <!-- VI MANGLER SÆLGER DER GIVER RABAT EVT. PÅ EN ANDEN HTML SIDE -->
    </tr>
</table>
<div class="page">

</div>
<div th:if="${session.currentUser != null}">
    <form method="post">
        <button formaction="/logout" class="linkbutton centered-button" type="submit">Log ud</button>
    </form>
</div>


</body>
</html>