<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<form method="post">
    <button class="logo"  type="submit" formaction="/index"></button>
</form>


<h1>Tak for din bestilling, <span th:text="${session.currentUser.email} + '!'"></span></h1>

<h1>Din order:</h1>

<table class="order-table">
    <thead>
    <tr>
        <th>Ordre ID</th>
        <th>Bredde</th>
        <th>Længde</th>
        <th>Tag Type</th>
        <th>Levering adresse</th>
        <th>Bruger ID</th>
        <th>Pris</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${payedOrder.orderId}">order id</td>
        <td th:text="${payedOrder.width}">width</td>
        <td th:text="${payedOrder.length}">length</td>
        <td th:text="${payedOrder.roof}">roof</td>
        <td th:text="${payedOrder.shippingAddress}">shipping address</td>
        <td th:text="${payedOrder.userId}">user id</td>
        <td th:text="${payedOrder.price}">price</td>
        <td th:text="${payedOrder.status}">status</td>

        <td>

        </td>
        <!-- VI MANGLER SÆLGER DER GIVER RABAT EVT. PÅ EN ANDEN HTML SIDE -->
    </tr>
    </tbody>
</table>

<h2>Stykliste:</h2>
<table class="order-table">
    <thead>
    <tr>
        <th>Materiale ID</th>
        <th>Navn</th>
        <th>Enhed</th>
        <th>Beskrivelse</th>
        <th>Pris</th>
        <th>Længde</th>
        <th>Materiale Variant ID</th>
        <th>Mængde</th>



    </tr>
    </thead>

    <tr th:each="bom : ${orderlines}">
        <td th:text="${bom.getMaterial().getMaterialId()}">material id</td>
        <td th:text="${bom.getMaterial().getName()}">name</td>
        <td th:text="${bom.getMaterial().getUnit()}">unit</td>
        <td th:text="${bom.getMaterial().getDescription()}">description</td>
        <td th:text="${bom.getMaterial().getPrice()}">price</td>
        <td th:text="${bom.getMaterial().getLength()}">length</td>
        <td th:text="${bom.getMaterial().getMaterialVariantId()}">material variant id</td>
        <td th:text="${bom.getAmount()}">amount</td>

        <td>

    </tr>
</table>


<div class="button-container2">
    <form method="post">
        <button formaction="/logout" class="linkbutton" type="submit">Log ud</button>
    </form>
</div>
</body>
</html>